@{
    Layout = null;
}
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/jquery.dataTables.js"></script>
<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
@using (Html.BeginForm("_UC_G_TransferIn", "_UC_G_TransferIn", FormMethod.Get, new { id = "submitForm" }))
{
    <div id="divGridTransferIn" class="divGridCSS">
        <table style="width:100%;">
            <tr>
                <td style="padding-right:2em;float:right">
                    <button id="btnCommonSaveDepositoryBank" class="btn-default buttonCSS" name="Command" value="CSV">
                        <img src="~/Content/Images/add.png" alt="Pluss/Add Icon" class="imgButtonCSS" />
                    </button> &nbsp;&nbsp;
                    <button id="btnCommonClear" class="btn-default buttonCSS" value="CSV">
                        <img src="~/Content/Images/clear.png" alt="Reoload/Clear Icon" class="imgButtonCSS" />
                    </button>
                </td>
            </tr>
        </table>
        <br />
        <table class="border1pxCls">
            <tr>
                <th id="thDateRcvdTransferIn" class="border1pxCls" style="padding-left:2em;">Date Rcvd</th>                
                <th id="thTransferorNameTransferIn" class="border1pxCls">Transferor Name</th>                
                <th id="thStreetTransferIn" class="border1pxCls">Street #</th>
                <th id="thStreetNameTransferIn" class="border1pxCls">Street Name</th>
                <th id="thCityTransferIn" class="border1pxCls">City</th>
                <th id="thStateTransferIn" class="border1pxCls">State</th>
                <th id="thZip5TransferIn" class="border1pxCls">Zip5</th>
                <th id="thZip4TransferIn" class="border1pxCls">Zip4</th>
                <th id="thTransferTypeTransferIn" class="border1pxCls">Transfer Type</th>
                <th id="thMethodTransferIn" class="border1pxCls">Method</th>
                <th id="thCheckTransferIn" class="border1pxCls">Check #</th>
                <th id="thAmtTransferIn" class="border1pxCls">Amt</th>
                <th id="thExplanationTransferIn" class="border1pxCls" style="padding-right:2em;">Explanation</th>
            </tr>
            <tr>
                <td id="tdDateRcvdTransferIn" class="border1pxCls" valign="bottom" style="padding-left:2em;">@Html.TextBox("searchTerm", null, new { id = "txtDateRcvd", @class = "txtWidth" })</td>                
                <td id="tdTransferorNameTransferIn" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtPartnerShipName", @class = "txtWidth" })</td>                
                <td id="tdStreetTransferIn" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtStreet", @class = "txtWidth" })</td>
                <td id="tdStreetNameTransferIn" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtStreetName", @class = "txtWidth" })</td>
                <td id="tdCityTransferIn" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtCity", @class = "txtWidth" })</td>
                <td id="tdStateTransferIn" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtState", @class = "txtWidth" })</td>
                <td id="tdZip5TransferIn" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtZip5", @class = "txtWidth" })</td>
                <td id="tdZip4TransferIn" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtZip4", @class = "txtWidth" })</td>
                <td id="tdTransferTypeTransferIn" class="border1pxCls" valign="bottom">@Html.DropDownList("lstTransferType", ViewData["lstTransferType"] as SelectList, new { @class = "" })</td>
                <td id="tdMethodTransferIn" class="border1pxCls" valign="bottom">@Html.DropDownList("lstMethod", ViewData["lstMethod"] as SelectList, new { @class = "" })</td>
                <td id="tdCheckTransferIn" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtCheck", @class = "txtWidth" })</td>
                <td id="tAmtTransferIn" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtAmtTransferIn", @class = "txtWidth" })</td>
                <td id="tdExplanationTransferIn" class="border1pxCls" valign="bottom" style="padding-right:2em;">@Html.TextBox("searchTerm", null, new { id = "txtExplanationTransferIn", @class = "txtWidth" })</td>
            </tr>
        </table>
        <br />
        <br />
        <div id="divDTTransferIn" style="padding-bottom:3em;">
            <table id="ContributionsTransferInGrid" class="webGrid" style="width:100%;">
                <thead id="thdGrid" class="header">
                    <tr>
                        <th>Date Rcvd</th>                        
                        <th>Transferor Name</th>                        
                        <th>Street#</th>
                        <th>Street Name</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip5</th>
                        <th>Zip4</th>
                        <th>Transfer Type</th>
                        <th>Method</th>
                        <th>Check#</th>
                        <th>Amount</th>
                        <th>Explanation</th>
                        <th>Edit</th>
                        <th>Delete</th>                        
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>   
}

<script>
    $m = jQuery.noConflict();

    $(document).ready(function () {
        $("#thParterShipNameTransferIn").hide("slow");
        $("#tdPartnershipNameTransferIn").hide("slow");

        $("#divDTTransferIn").hide();
        //Bind Search Click
        $m(".clsCommonSearch").bind('click', function (searchCustomers) {
            $("#divGridTransferIn").show();
            sessionStorage.setDataTable = "true";
            $("#divShowHideHelp").removeClass("clsShowHideHelpSec");
            $("#divShowHideHelp").addClass("clsShowHideHelpSecInMobileTablet");

            var table = $m('#ContributionsTransferInGrid').DataTable({
                "bProcessing": true,
                "retrieve": true,
                "stateSave": true,
                //"scrollX": "100%",
                //"scrollY": "100%",
                "mData": null,
                "sDefaultContent": "Edit",
                "sAjaxSource": "../_UC_G_TransferIn/GetContributionsTransferInSearchData",
                "bAutoWidth": false,
                "columnDefs": [
                    { width: "5%", targets: -2, data: null, defaultContent: '<a  href="" class="editor_edit"><img src="../Content/Images/edit.png" title="Edit Row Data" style="background-repeat: no-repeat;"  /></a>', orderable: false },
                    { width: "5%", targets: -1, data: null, defaultContent: '<a  href="" class="editor_remove"><img src="../Content/Images/delete.png" title="Delete Row Data" style="background-repeat: no-repeat;"  /></a>', orderable: false },                           
                ],
                "initComplete": function (settings, json) {
                    //Accessibility: Applies various Accessibility features to this dataTable.
                    makeDataTableAccessible($m('#ContributionsTransferInGrid').DataTable());
                }
            });
            $m('#ContributionsTransferInGrid').DataTable().ajax.reload();
        });
        
        // Edit a record
        $m('#ContributionsTransferInGrid tbody').on('click', 'a.editor_remove', function (e) {
            e.preventDefault();
            if (confirm("Are you sure do you want to delete") == true) {
            }
            else
                return false;
        });        

        // Explanation focus out
        $m("#txtExplanationTransferIn").focusout(function () {
            alert("Data Saved Successfully ");
            $("#divDTTransferIn").show();
        });

        // Explanation focus out
        $m("#txtPartExplanationTransferIn").focusout(function () {
            alert("Data Saved Successfully");            
            $m('#PartnersGridTransferIn').DataTable().ajax.reload();
        });

        // Edit a record
        $m('#ContributionsTransferInGrid tbody').on('click', 'a.editor_edit', function (e) {
            e.preventDefault();
            $("#btnCommonUpdate").show();
            $("#btnCommonSave").hide();
            var data = table.row($(this).parents('tr')).data();
            var selectedlstContributionName = data[1].toString();

            $("#txtDateRcvd").val(data[0].toString());
            $("#lstContributionNameTransferIn option").each(function () {
                if ($(this).text() == data[1].toString()) {
                    $(this).attr('selected', 'selected');
                }
            });
            $("#txtPartnerShipName").val(data[2].toString());
            $("#txtFirstName").val(data[3].toString());
            $("#txtMI").val(data[4].toString());
            $("#txtLastName").val(data[5].toString());
            $("#txtStreet").val(data[6].toString());
            $("#txtStreetName").val(data[7].toString());
            $("#txtCity").val(data[8].toString());
            $("#txtState").val(data[9].toString());
            $("#txtZip5").val(data[10].toString());
            $("#txtZip4").val(data[11].toString());
            $("#lstContributionType option").each(function () {
                if ($(this).text() == data[12].toString()) {
                    $(this).attr('selected', 'selected');
                }
            });
            $("#lstMethod option").each(function () {
                if ($(this).text() == data[13].toString()) {
                    $(this).attr('selected', 'selected');
                }
            });
            $("#txtCheck").val(data[14].toString());
            $("#txtAmtTransferInTransferIn").val(data[15].toString());
            $("#txtExplanationTransferIn").val(data[16].toString());

            if (selectedlstContributionName == "Candidate" || selectedlstContributionName == "Individual" || selectedlstContributionName == "Family") {

                //Show All TR
                $("#thFirstNameTransferIn").show("slow");
                $("#thMITransferIn").show("slow");
                $("#thLastNameTransferIn").show("slow");
                $("#thStreetTransferIn").show("slow");
                $("#thStreetNameTransferIn").show("slow");
                $("#thCityTransferIn").show("slow");
                $("#thStateTransferIn").show("slow");
                $("#thZip5TransferIn").show("slow");
                $("#thZip4TransferIn").show("slow");
                $("#thContributionTypeTransferIn").show("slow");
                $("#thMethodTransferIn").show("slow");
                $("#thCheckTransferIn").show("slow");
                $("#thAmtTransferIn").show("slow");
                $("#thExplanationTransferIn").show("slow");

                //Show All TD
                $("#tdFirstNameTransferIn").show("slow");
                $("#tdMITransferIn").show("slow");
                $("#tdLastNameTransferIn").show("slow");
                $("#tdStreetTransferIn").show("slow");
                $("#tdStreetNameTransferIn").show("slow");
                $("#tdCityTransferIn").show("slow");
                $("#tdStateTransferIn").show("slow");
                $("#tdZip5TransferIn").show("slow");
                $("#tdZip4TransferIn").show("slow");
                $("#tdContributionTypeTransferIn").show("slow");
                $("#tdMethodTransferIn").show("slow");
                $("#tdCheckTransferIn").show("slow");
                $("#tAmtTransferIn").show("slow");
                $("#tdExplanationTransferIn").show("slow");

                $("#thParterShipNameTransferIn").hide("slow");
                $("#tdPartnershipNameTransferIn").hide("slow");
            }
            if (selectedlstContributionName == "Unitemized") {

                //Show All TR
                $("#thAmtTransferIn").show("slow");
                $("#thExplanationTransferIn").show("slow");

                $("#thFirstNameTransferIn").hide("slow");
                $("#thMITransferIn").hide("slow");
                $("#thLastNameTransferIn").hide("slow");
                $("#thStreetTransferIn").hide("slow");
                $("#thStreetNameTransferIn").hide("slow");
                $("#thCityTransferIn").hide("slow");
                $("#thStateTransferIn").hide("slow");
                $("#thZip5TransferIn").hide("slow");
                $("#thZip4TransferIn").hide("slow");
                $("#thContributionTypeTransferIn").hide("slow");
                $("#thMethodTransferIn").hide("slow");
                $("#thCheckTransferIn").hide("slow");

                //Show All TD
                $("#tAmtTransferIn").show("slow");
                $("#tdExplanationTransferIn").show("slow");

                $("#tdFirstNameTransferIn").hide("slow");
                $("#tdMITransferIn").hide("slow");
                $("#tdLastNameTransferIn").hide("slow");
                $("#tdStreetTransferIn").hide("slow");
                $("#tdStreetNameTransferIn").hide("slow");
                $("#tdCityTransferIn").hide("slow");
                $("#tdStateTransferIn").hide("slow");
                $("#tdZip5TransferIn").hide("slow");
                $("#tdZip4TransferIn").hide("slow");
                $("#tdContributionTypeTransferIn").hide("slow");
                $("#tdMethodTransferIn").hide("slow");
                $("#tdCheckTransferIn").hide("slow");

                $("#thParterShipNameTransferIn").hide("slow");
                $("#tdPartnershipNameTransferIn").hide("slow");

            }
            if (selectedlstContributionName == "Partnership") {

                $("#thParterShipNameTransferIn").show("slow");
                $("#tdPartnershipNameTransferIn").show("slow");

                //Show All TR
                $("#thFirstNameTransferIn").hide("slow");
                $("#thMITransferIn").hide("slow");
                $("#thLastNameTransferIn").hide("slow");
                $("#thStreetTransferIn").show("slow");
                $("#thStreetNameTransferIn").show("slow");
                $("#thCityTransferIn").show("slow");
                $("#thStateTransferIn").show("slow");
                $("#thZip5TransferIn").show("slow");
                $("#thZip4TransferIn").show("slow");
                $("#thContributionTypeTransferIn").show("slow");
                $("#thMethodTransferIn").show("slow");
                $("#thCheckTransferIn").show("slow");
                $("#thAmtTransferIn").show("slow");
                $("#thExplanationTransferIn").show("slow");

                //Show All TD
                $("#tdFirstNameTransferIn").hide("slow");
                $("#tdMITransferIn").hide("slow");
                $("#tdLastNameTransferIn").hide("slow");
                $("#tdStreetTransferIn").show("slow");
                $("#tdStreetNameTransferIn").show("slow");
                $("#tdCityTransferIn").show("slow");
                $("#tdStateTransferIn").show("slow");
                $("#tdZip5TransferIn").show("slow");
                $("#tdZip4TransferIn").show("slow");
                $("#tdContributionTypeTransferIn").show("slow");
                $("#tdMethodTransferIn").show("slow");
                $("#tdCheckTransferIn").show("slow");
                $("#tAmtTransferIn").show("slow");
                $("#tdExplanationTransferIn").show("slow");
            }
        });

        //Contribution Name Selected index changed
        $("#lstContributionNameTransferIn").change(function () {
            var selectedlstContributionName = $("#lstContributionNameTransferIn option:selected").text();
            if (selectedlstContributionName == "Candidate" || selectedlstContributionName == "Individual" || selectedlstContributionName == "Family") {
                $("#lblHeader,#lblHeader1,#lblHeader2").text("Contributions - Candidate, Individual, Family");
                //Show All TR
                $("#thFirstNameTransferIn").show("slow");
                $("#thMITransferIn").show("slow");
                $("#thLastNameTransferIn").show("slow");
                $("#thStreetTransferIn").show("slow");
                $("#thStreetNameTransferIn").show("slow");
                $("#thCityTransferIn").show("slow");
                $("#thStateTransferIn").show("slow");
                $("#thZip5TransferIn").show("slow");
                $("#thZip4TransferIn").show("slow");
                $("#thContributionTypeTransferIn").show("slow");
                $("#thMethodTransferIn").show("slow");
                $("#thCheckTransferIn").show("slow");
                $("#thAmtTransferIn").show("slow");
                $("#thExplanationTransferIn").show("slow");

                //Show All TD
                $("#tdFirstNameTransferIn").show("slow");
                $("#tdMITransferIn").show("slow");
                $("#tdLastNameTransferIn").show("slow");
                $("#tdStreetTransferIn").show("slow");
                $("#tdStreetNameTransferIn").show("slow");
                $("#tdCityTransferIn").show("slow");
                $("#tdStateTransferIn").show("slow");
                $("#tdZip5TransferIn").show("slow");
                $("#tdZip4TransferIn").show("slow");
                $("#tdContributionTypeTransferIn").show("slow");
                $("#tdMethodTransferIn").show("slow");
                $("#tdCheckTransferIn").show("slow");
                $("#tAmtTransferIn").show("slow");
                $("#tdExplanationTransferIn").show("slow");

                $("#thParterShipNameTransferIn").hide("slow");
                $("#tdPartnershipNameTransferIn").hide("slow");
            }
            if (selectedlstContributionName == "Unitemized") {
                $("#lblHeader,#lblHeader1,#lblHeader2").text("Contributions - Unitemized");
                //Show All TR
                $("#thAmtTransferIn").show("slow");
                $("#thExplanationTransferIn").show("slow");

                $("#thFirstNameTransferIn").hide("slow");
                $("#thMITransferIn").hide("slow");
                $("#thLastNameTransferIn").hide("slow");
                $("#thStreetTransferIn").hide("slow");
                $("#thStreetNameTransferIn").hide("slow");
                $("#thCityTransferIn").hide("slow");
                $("#thStateTransferIn").hide("slow");
                $("#thZip5TransferIn").hide("slow");
                $("#thZip4TransferIn").hide("slow");
                $("#thContributionTypeTransferIn").hide("slow");
                $("#thMethodTransferIn").hide("slow");
                $("#thCheckTransferIn").hide("slow");

                //Show All TD
                $("#tAmtTransferIn").show("slow");
                $("#tdExplanationTransferIn").show("slow");

                $("#tdFirstNameTransferIn").hide("slow");
                $("#tdMITransferIn").hide("slow");
                $("#tdLastNameTransferIn").hide("slow");
                $("#tdStreetTransferIn").hide("slow");
                $("#tdStreetNameTransferIn").hide("slow");
                $("#tdCityTransferIn").hide("slow");
                $("#tdStateTransferIn").hide("slow");
                $("#tdZip5TransferIn").hide("slow");
                $("#tdZip4TransferIn").hide("slow");
                $("#tdContributionTypeTransferIn").hide("slow");
                $("#tdMethodTransferIn").hide("slow");
                $("#tdCheckTransferIn").hide("slow");

                $("#thParterShipNameTransferIn").hide("slow");
                $("#tdPartnershipNameTransferIn").hide("slow");

            }
            if (selectedlstContributionName == "Partnership") {
                $("#lblHeader,#lblHeader1,#lblHeader2").text("Contributions - Partnership");
                $("#thParterShipNameTransferIn").show("slow");
                $("#tdPartnershipNameTransferIn").show("slow");

                //Show All TR
                $("#thFirstNameTransferIn").hide("slow");
                $("#thMITransferIn").hide("slow");
                $("#thLastNameTransferIn").hide("slow");
                $("#thStreetTransferIn").show("slow");
                $("#thStreetNameTransferIn").show("slow");
                $("#thCityTransferIn").show("slow");
                $("#thStateTransferIn").show("slow");
                $("#thZip5TransferIn").show("slow");
                $("#thZip4TransferIn").show("slow");
                $("#thContributionTypeTransferIn").show("slow");
                $("#thMethodTransferIn").show("slow");
                $("#thCheckTransferIn").show("slow");
                $("#thAmtTransferIn").show("slow");
                $("#thExplanationTransferIn").show("slow");

                //Show All TD
                $("#tdFirstNameTransferIn").hide("slow");
                $("#tdMITransferIn").hide("slow");
                $("#tdLastNameTransferIn").hide("slow");
                $("#tdStreetTransferIn").show("slow");
                $("#tdStreetNameTransferIn").show("slow");
                $("#tdCityTransferIn").show("slow");
                $("#tdStateTransferIn").show("slow");
                $("#tdZip5TransferIn").show("slow");
                $("#tdZip4TransferIn").show("slow");
                $("#tdContributionTypeTransferIn").show("slow");
                $("#tdMethodTransferIn").show("slow");
                $("#tdCheckTransferIn").show("slow");
                $("#tAmtTransferIn").show("slow");
                $("#tdExplanationTransferIn").show("slow");
            }
        });
    });
</script>
