@{
    Layout = null;
}
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/jquery.dataTables.js"></script>
<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
@using (Html.BeginForm("_UC_D_ContributionInKind", "_UC_D_ContributionInKind", FormMethod.Get, new { id = "submitForm" }))
{
    <div id="divGridInKind" class="divGridCSS">
        <table style="width:100%; border-spacing: 0px;">
            <tr>
                <td style="padding-right:2em;float:right">
                    <button id="btnCommonSaveDepositoryBank" class="btn-default buttonCSS" name="Command" value="CSV">
                        <img src="~/Content/Images/add.png" alt="Pluss/Add Icon" class="imgButtonCSS" />
                    </button> &nbsp;&nbsp;
                    <button id="btnCommonClear" class="btn-default buttonCSS" value="CSV">
                        <img src="~/Content/Images/clear.png" alt="Reoload/Clear Icon" class="imgButtonCSS" />
                    </button>
                </td>
            </tr>
        </table>
        <br />
        <table class="border1pxCls">
            <tr>
                <th id="thDateRcvdInKind" class="border1pxCls" style="padding-left:2em;">Date Rcvd</th>
                <th id="thContributionNameInKind" class="border1pxCls">@Html.Label("Contributor Code", new { @id = "lblContributionName" })</th>
                <th id="thParterShipNameInKind" class="border1pxCls">Partnership Name</th>
                <th id="thFirstNameInKind" class="border1pxCls">First Name</th>
                <th id="thMIInKind" class="border1pxCls">MI</th>
                <th id="thLastNameInKind" class="border1pxCls">Last Name</th>
                <th id="thStreetInKind" class="border1pxCls">Street #</th>
                <th id="thStreetNameInKind" class="border1pxCls">Street Name</th>
                <th id="thCityInKind" class="border1pxCls">City</th>
                <th id="thStateInKind" class="border1pxCls">State</th>
                <th id="thZip5InKind" class="border1pxCls">Zip5</th>
                <th id="thZip4InKind" class="border1pxCls">Zip4</th>
                <th id="thContributionTypeInKind" class="border1pxCls">Contribution Type</th>
                <th id="thMethodInKind" class="border1pxCls">Method</th>
                <th id="thCheckInKind" class="border1pxCls">Check #</th>
                <th id="thAmtInKind" class="border1pxCls">Amt</th>
                <th id="thExplanationInKind" class="border1pxCls" style="padding-right:2em;">Explanation</th>
            </tr>
            <tr>
                <td id="tdDateRcvdInKind" class="border1pxCls" valign="bottom" style="padding-left:2em;">@Html.TextBox("searchTerm", null, new { id = "txtDateRcvd", @class = "txtWidth" })</td>
                <td id="tdContributionNameInKind" class="border1pxCls" valign="bottom">@Html.DropDownList("lstContributionNameInKind", ViewData["lstContributionName"] as SelectList, new { @class = "" })</td>
                <td id="tdPartnershipNameInKind" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtPartnerShipName", @class = "txtWidth" })</td>
                <td id="tdFirstNameInKind" class="borde r1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtFirstName", @class = "txtWidth" })</td>
                <td id="tdMIInKind" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtMI", @class = "txtWidth" })</td>
                <td id="tdLastNameInKind" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtLastName", @class = "txtWidth" })</td>
                <td id="tdStreetInKind" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtStreet", @class = "txtWidth" })</td>
                <td id="tdStreetNameInKind" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtStreetName", @class = "txtWidth" })</td>
                <td id="tdCityInKind" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtCity", @class = "txtWidth" })</td>
                <td id="tdStateInKind" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtState", @class = "txtWidth" })</td>
                <td id="tdZip5InKind" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtZip5", @class = "txtWidth" })</td>
                <td id="tdZip4InKind" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtZip4", @class = "txtWidth" })</td>
                <td id="tdContributionTypeInKind" class="border1pxCls" valign="bottom">@Html.DropDownList("lstContributionType", ViewData["lstContributionType"] as SelectList, new { @class = "" })</td>
                <td id="tdMethodInKind" class="border1pxCls" valign="bottom">@Html.DropDownList("lstMethod", ViewData["lstMethod"] as SelectList, new { @class = "" })</td>
                <td id="tdCheckInKind" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtCheck", @class = "txtWidth" })</td>
                <td id="tAmtInKind" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtAmtInKind", @class = "txtWidth" })</td>
                <td id="tdExplanationInKind" class="border1pxCls" valign="bottom" style="padding-right:2em;">@Html.TextBox("searchTerm", null, new { id = "txtExplanationInKind", @class = "txtWidth" })</td>
            </tr>
        </table>
        <br />
        <br />
        <div id="divDTInKind" style="padding-bottom:3em;">
            <table id="ContributionsInKindGrid" class="webGrid">
                <thead id="thdGrid" class="header">
                    <tr>
                        <th>Date Rcvd</th>
                        <th>Contributor Code</th>
                        <th>Partnership Name</th>
                        <th>FirstName</th>
                        <th>MI</th>
                        <th>LastName</th>
                        <th>Street#</th>
                        <th>Street Name</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip5</th>
                        <th>Zip4</th>
                        <th>Contribution Type</th>
                        <th>Method</th>
                        <th>Check#</th>
                        <th>Amount</th>
                        <th>Explanation</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Attribution</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div id="divShowPartnerAdddataInKind" class="divGridCSS">
        <table style="width:100%; border-spacing: 0px;">
            <tr>
                <td style="padding-right:2em;float:right">
                    <button id="btnCommonSaveDepositoryBank" class="btn-default buttonCSS" name="Command" value="CSV">
                        <img src="~/Content/Images/add.png" alt="Pluss/Add Icon" class="imgButtonCSS" />
                    </button> &nbsp;&nbsp;
                    <button id="btnCommonClear" class="btn-default buttonCSS" value="CSV">
                        <img src="~/Content/Images/clear.png" alt="Reoload/Clear Icon" class="imgButtonCSS" />
                    </button>
                </td>
            </tr>
        </table>
        <br />
        <table class="border1pxCls">
            <tr>
                <th id="thPartner" class="border1pxCls" style="padding-left:2em;">Partners</th>
                <th id="thPartFirstName" class="border1pxCls">First Name</th>
                <th id="thPartMI" class="border1pxCls">MI</th>
                <th id="thPartLastName" class="border1pxCls">Last Name</th>
                <th id="thPartStreet" class="border1pxCls">Street #</th>
                <th id="thPartStreetName" class="border1pxCls">Street Name</th>
                <th id="thPartCity" class="border1pxCls">City</th>
                <th id="thPartState" class="border1pxCls">State</th>
                <th id="thPartZip5" class="border1pxCls">Zip5</th>
                <th id="thPartZip4" class="border1pxCls">Zip4</th>
                <th id="thPartAmt" class="border1pxCls">Amt Attributed</th>
                <th id="thPartExplanation" class="border1pxCls" style="padding-right:2em;">Explanation</th>
            </tr>
            <tr>
                <td id="tdPartner" class="border1pxCls" style="padding-left:2em;" valign="bottom">@Html.DropDownList("lstPartner", ViewData["lstPartner"] as SelectList, new { @class = "" })</td>
                <td id="tdPartFirstName" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtPartFirstName", @class = "txtWidth" })</td>
                <td id="tdPartMI" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtPartMI", @class = "txtWidth" })</td>
                <td id="tdPartLastName" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtPartLastName", @class = "txtWidth" })</td>
                <td id="tdPartStreet" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtPartStreet", @class = "txtWidth" })</td>
                <td id="tdPartStreetName" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtPartStreetName", @class = "txtWidth" })</td>
                <td id="tdPartCity" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtPartCity", @class = "txtWidth" })</td>
                <td id="tdPartState" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtPartState", @class = "txtWidth" })</td>
                <td id="tdPartZip5" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtPartZip5", @class = "txtWidth" })</td>
                <td id="tdPartZip4" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtPartZip4", @class = "txtWidth" })</td>
                <td id="tdPartAmt" class="border1pxCls" valign="bottom">@Html.TextBox("searchTerm", null, new { id = "txtPartAmt", @class = "txtWidth" })</td>
                <td id="tdPartExplanation" class="border1pxCls" valign="bottom" style="padding-right:2em;">@Html.TextBox("searchTerm", null, new { id = "txtPartExplanationInKind", @class = "txtWidth" })</td>
            </tr>
        </table>
        <br />
        <br />
        <div id="divPartnerInKing">
            <table id="PartnersGridInKind" class="webGrid">
                <thead id="thdGrid" class="header">
                    <tr>
                        <th>Partners</th>
                        <th>First Name</th>
                        <th>MI</th>
                        <th>Last Name</th>
                        <th>Street #</th>
                        <th>Street Name</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip5</th>
                        <th>Zip4</th>
                        <th>Amt Attributed</th>
                        <th>Explanation</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
}

<script>
    $m = jQuery.noConflict();

    $(document).ready(function () {
        $("#thParterShipNameInKind").hide("slow");
        $("#tdPartnershipNameInKind").hide("slow");

        $("#divDTInKind").hide();
        $("#divShowPartnerAdddataInKind").hide();
        $("#divPartnerInKing").hide();
        $("#PartnersGridInKind").addClass("Per100hideShowButtonCSS");
        //Bind Search Click
        $m(".clsCommonSearch").bind('click', function (searchCustomers) {
            $("#divGridInKind").show();
            sessionStorage.setDataTable = "true";
            $("#divShowHideHelp").removeClass("clsShowHideHelpSec");
            $("#divShowHideHelp").addClass("clsShowHideHelpSecInMobileTablet");

            table = $m('#ContributionsInKindGrid').DataTable({
                "bProcessing": true,
                "retrieve": true,
                "stateSave": true,
                "scrollX": "100%",
                "scrollY": "100%",
                "mData": null,
                "sDefaultContent": "Edit",
                "sAjaxSource": "../_UC_D_ContributionInKind/GetContributionsInKindSearchData",
                "bAutoWidth": false,
                "columnDefs": [
                            //{ width: "5%", targets: -3, data: null, defaultContent: '<a  href="" class="editor_edit"><img src="../Content/Images/edit.png" title="Edit Row Data" style="background-repeat: no-repeat;"  /></a>', orderable: false },
                            { width: "5%", targets: -3, data: null, defaultContent: '', orderable: false },
                            //{ width: "5%", targets: -2, data: null, defaultContent: '<a  href="" class="editor_remove"><img src="../Content/Images/delete.png" title="Delete Row Data" style="background-repeat: no-repeat;"  /></a>', orderable: false },
                            { width: "5%", targets: -2, data: null, defaultContent: '', orderable: false },
                            { width: "5%", targets: -1, data: null, defaultContent: '', orderable: false },
                ],
                "initComplete": function (settings, json) {
                    //Accessibility: Applies various Accessibility features to this dataTable.
                    makeDataTableAccessible($m('#ContributionsInKindGrid').DataTable());
                },
                "fnRowCallback": function (nRow, aaData, iDisplayIndex) {
                    var uniqueID = generateUniqueRowIdForFnRowCallback(iDisplayIndex, nRow);
                    if (aaData[1] == "Contribution - Monetary") {
                        if (aaData[2] != "") {
                            $m('td:eq(19)', nRow).html('<a class="editor_AttributionInKind" href="">Attribution</a>');
                            $m('td:eq(18)', nRow).html('<a class="editor_remove" style="color:blue;" href="" target="_blank" id="lnkColumnData_' + uniqueID + '"><img src="../Content/Images/Delete.png" style="background-repeat: no-repeat; height: 1.5em; width: 1.5em;"  /></a>');
                            $m('td:eq(17)', nRow).html('<a class="editor_edit" style="color:blue;" href="" target="_blank" id="lnkColumnData_' + uniqueID + '"><img src="../Content/Images/Edit.png" style="background-repeat: no-repeat; height: 1.5em; width: 1.5em;"  /></a>');
                        }
                        else {
                            $m('td:eq(19)', nRow).html('<a href="" class="lnkTotalsBySchedule"></a>');
                        }
                    }
                    return nRow;
                }
                //},
                //"fnServerData": function (url, data, callback) {
                //    $.ajax({
                //        "url": url,
                //        "data": null,
                //        "success": callback,
                //        "dataType": "json",
                //        "type": "POST",
                //        "error": function () {
                //            alert("Error...");
                //        }
                //    });
                //}
            });
            $m('#ContributionsInKindGrid').DataTable().ajax.reload();
        });

        //// Edit a record
        //$m('#ContributionsInKindGrid tbody').on('click', 'a.editor_ShowPartner', function (e) {
        //    e.preventDefault();
        //    $("#divShowPartnerAdddataInKind").show();
        //    table = $m('#PartnersGridInKind').DataTable({
        //        "bProcessing": true,
        //        "retrieve": true,
        //        "stateSave": true,
        //        "scrollX": "100%",
        //        "scrollY": "100%",
        //        "mData": null,
        //        "sDefaultContent": "Edit",
        //        "sAjaxSource": "../ContributionsMonetary/GetPartnerSearchData",
        //        "bAutoWidth": false,
        //        "columnDefs": [
        //                    { width: "5%", targets: -2, data: null, defaultContent: '<a  href="" class="editor_edit"><img src="../Content/Images/edit.png" title="Edit Row Data" style="background-repeat: no-repeat;"  /></a>', orderable: false },
        //                    { width: "5%", targets: -1, data: null, defaultContent: '<a  href="" class="editor_remove"><img src="../Content/Images/delete.png" title="Delete Row Data" style="background-repeat: no-repeat;"  /></a>', orderable: false },
        //        ],
        //        "initComplete": function (settings, json) {
        //            //Accessibility: Applies various Accessibility features to this dataTable.
        //            makeDataTableAccessible($m('#PartnersGridInKind').DataTable());
        //        },
        //        "fnServerData": function (url, data, callback) {
        //            $.ajax({
        //                "url": url,
        //                "data": null,
        //                "success": callback,
        //                "dataType": "json",
        //                "type": "POST",
        //                "error": function () {
        //                    alert("Error...");
        //                }
        //            });
        //        }
        //    });
        //    $m('#PartnersGridInKind').DataTable().ajax.reload();
        //});

        // Edit a record
        $m('#ContributionsInKindGrid tbody').on('click', 'a.editor_remove', function (e) {
            e.preventDefault();
            if (confirm("Are you sure do you want to delete") == true) {
            }
            else
                return false;
        });

        // Edit a record
        $m('#ContributionsInKindGrid tbody').on('click', 'a.editor_AttributionInKind', function (e) {
            e.preventDefault();
            $("#divShowPartnerAdddataInKind").show();
            table = $m('#PartnersGridInKind').DataTable({
                "bProcessing": true,
                "retrieve": true,
                "stateSave": true,
                "scrollX": "100%",
                "scrollY": "100%",
                "mData": null,
                "sDefaultContent": "Edit",
                "sAjaxSource": "../ContributionsMonetary/GetPartnerSearchData",
                "bAutoWidth": false,
                "columnDefs": [
                    { width: "5%", targets: -2, data: null, defaultContent: '<a  href="" class="editor_edit"><img src="../Content/Images/edit.png" title="Edit Row Data" style="background-repeat: no-repeat; height: 1.5em; width: 1.5em;"  /></a>', orderable: false },
                    { width: "5%", targets: -1, data: null, defaultContent: '<a  href="" class="editor_remove"><img src="../Content/Images/delete.png" title="Delete Row Data" style="background-repeat: no-repeat; height: 1.5em; width: 1.5em;"  /></a>', orderable: false },
                ],
                "initComplete": function (settings, json) {
                    //Accessibility: Applies various Accessibility features to this dataTable.
                    makeDataTableAccessible($m('#PartnersGridInKind').DataTable());
                },
                "fnServerData": function (url, data, callback) {
                    $.ajax({
                        "url": url,
                        "data": null,
                        "success": callback,
                        "dataType": "json",
                        "type": "POST",
                        "error": function () {
                            alert("Error...");
                        }
                    });
                }
            });
            $m('#PartnersGridInKind').DataTable().ajax.reload();
        });

        // Explanation focus out
        $m("#txtExplanationInKind").focusout(function () {
            alert("Data Saved Successfully ");
            $("#divDTInKind").show();
        });

        // Explanation focus out
        $m("#txtPartExplanationInKind").focusout(function () {
            alert("Data Saved Successfully");
            $("#divPartnerInKing").show();
            $m('#PartnersGridInKind').DataTable().ajax.reload();
        });

        // Edit a record
        $m('#ContributionsInKindGrid tbody').on('click', 'a.editor_edit', function (e) {
            e.preventDefault();
            $("#btnCommonUpdate").show();
            $("#btnCommonSave").hide();
            var data = table.row($(this).parents('tr')).data();
            var selectedlstContributionName = data[1].toString();

            $("#txtDateRcvd").val(data[0].toString());
            $("#lstContributionNameInKind option").each(function () {
                if ($(this).text() == data[1].toString()) {
                    $(this).attr('selected', 'selected');
                }
            });
            $("#txtPartnerShipName").val(data[2].toString());
            $("#txtFirstName").val(data[3].toString());
            $("#txtMI").val(data[4].toString());
            $("#txtLastName").val(data[5].toString());
            $("#txtStreet").val(data[6].toString());
            $("#txtStreetName").val(data[7].toString());
            $("#txtCity").val(data[8].toString());
            $("#txtState").val(data[9].toString());
            $("#txtZip5").val(data[10].toString());
            $("#txtZip4").val(data[11].toString());
            $("#lstContributionType option").each(function () {
                if ($(this).text() == data[12].toString()) {
                    $(this).attr('selected', 'selected');
                }
            });
            $("#lstMethod option").each(function () {
                if ($(this).text() == data[13].toString()) {
                    $(this).attr('selected', 'selected');
                }
            });
            $("#txtCheck").val(data[14].toString());
            $("#txtAmtInKindInKind").val(data[15].toString());
            $("#txtExplanationInKind").val(data[16].toString());

            if (selectedlstContributionName == "Candidate" || selectedlstContributionName == "Individual" || selectedlstContributionName == "Family" || selectedlstContributionName == "Candidate/Spouse") {

                //Show All TR
                $("#thFirstNameInKind").show("slow");
                $("#thMIInKind").show("slow");
                $("#thLastNameInKind").show("slow");
                $("#thStreetInKind").show("slow");
                $("#thStreetNameInKind").show("slow");
                $("#thCityInKind").show("slow");
                $("#thStateInKind").show("slow");
                $("#thZip5InKind").show("slow");
                $("#thZip4InKind").show("slow");
                $("#thContributionTypeInKind").show("slow");
                $("#thMethodInKind").show("slow");
                $("#thCheckInKind").show("slow");
                $("#thAmtInKind").show("slow");
                $("#thExplanationInKind").show("slow");

                //Show All TD
                $("#tdFirstNameInKind").show("slow");
                $("#tdMIInKind").show("slow");
                $("#tdLastNameInKind").show("slow");
                $("#tdStreetInKind").show("slow");
                $("#tdStreetNameInKind").show("slow");
                $("#tdCityInKind").show("slow");
                $("#tdStateInKind").show("slow");
                $("#tdZip5InKind").show("slow");
                $("#tdZip4InKind").show("slow");
                $("#tdContributionTypeInKind").show("slow");
                $("#tdMethodInKind").show("slow");
                $("#tdCheckInKind").show("slow");
                $("#tAmtInKind").show("slow");
                $("#tdExplanationInKind").show("slow");

                $("#thParterShipNameInKind").hide("slow");
                $("#tdPartnershipNameInKind").hide("slow");
            }
            if (selectedlstContributionName == "Unitemized") {

                //Show All TR
                $("#thAmtInKind").show("slow");
                $("#thExplanationInKind").show("slow");

                $("#thFirstNameInKind").hide("slow");
                $("#thMIInKind").hide("slow");
                $("#thLastNameInKind").hide("slow");
                $("#thStreetInKind").hide("slow");
                $("#thStreetNameInKind").hide("slow");
                $("#thCityInKind").hide("slow");
                $("#thStateInKind").hide("slow");
                $("#thZip5InKind").hide("slow");
                $("#thZip4InKind").hide("slow");
                $("#thContributionTypeInKind").hide("slow");
                $("#thMethodInKind").hide("slow");
                $("#thCheckInKind").hide("slow");

                //Show All TD
                $("#tAmtInKind").show("slow");
                $("#tdExplanationInKind").show("slow");

                $("#tdFirstNameInKind").hide("slow");
                $("#tdMIInKind").hide("slow");
                $("#tdLastNameInKind").hide("slow");
                $("#tdStreetInKind").hide("slow");
                $("#tdStreetNameInKind").hide("slow");
                $("#tdCityInKind").hide("slow");
                $("#tdStateInKind").hide("slow");
                $("#tdZip5InKind").hide("slow");
                $("#tdZip4InKind").hide("slow");
                $("#tdContributionTypeInKind").hide("slow");
                $("#tdMethodInKind").hide("slow");
                $("#tdCheckInKind").hide("slow");

                $("#thParterShipNameInKind").hide("slow");
                $("#tdPartnershipNameInKind").hide("slow");

            }
            if (selectedlstContributionName == "Partnership") {

                $("#thParterShipNameInKind").show("slow");
                $("#tdPartnershipNameInKind").show("slow");

                //Show All TR
                $("#thFirstNameInKind").hide("slow");
                $("#thMIInKind").hide("slow");
                $("#thLastNameInKind").hide("slow");
                $("#thStreetInKind").show("slow");
                $("#thStreetNameInKind").show("slow");
                $("#thCityInKind").show("slow");
                $("#thStateInKind").show("slow");
                $("#thZip5InKind").show("slow");
                $("#thZip4InKind").show("slow");
                $("#thContributionTypeInKind").show("slow");
                $("#thMethodInKind").show("slow");
                $("#thCheckInKind").show("slow");
                $("#thAmtInKind").show("slow");
                $("#thExplanationInKind").show("slow");

                //Show All TD
                $("#tdFirstNameInKind").hide("slow");
                $("#tdMIInKind").hide("slow");
                $("#tdLastNameInKind").hide("slow");
                $("#tdStreetInKind").show("slow");
                $("#tdStreetNameInKind").show("slow");
                $("#tdCityInKind").show("slow");
                $("#tdStateInKind").show("slow");
                $("#tdZip5InKind").show("slow");
                $("#tdZip4InKind").show("slow");
                $("#tdContributionTypeInKind").show("slow");
                $("#tdMethodInKind").show("slow");
                $("#tdCheckInKind").show("slow");
                $("#tAmtInKind").show("slow");
                $("#tdExplanationInKind").show("slow");
            }
        });

        //Contribution Name Selected index changed
        $("#lstContributionNameInKind").change(function () {
            var selectedlstContributionName = $("#lstContributionNameInKind option:selected").text();
            if (selectedlstContributionName == "Candidate" || selectedlstContributionName == "Individual" || selectedlstContributionName == "Family" || selectedlstContributionName == "Candidate/Spouse") {
                $("#lblHeader,#lblHeader1,#lblHeader2").text("Contributions - Candidate, Individual, Family");
                //Show All TR
                $("#thFirstNameInKind").show("slow");
                $("#thMIInKind").show("slow");
                $("#thLastNameInKind").show("slow");
                $("#thStreetInKind").show("slow");
                $("#thStreetNameInKind").show("slow");
                $("#thCityInKind").show("slow");
                $("#thStateInKind").show("slow");
                $("#thZip5InKind").show("slow");
                $("#thZip4InKind").show("slow");
                $("#thContributionTypeInKind").show("slow");
                $("#thMethodInKind").show("slow");
                $("#thCheckInKind").show("slow");
                $("#thAmtInKind").show("slow");
                $("#thExplanationInKind").show("slow");

                //Show All TD
                $("#tdFirstNameInKind").show("slow");
                $("#tdMIInKind").show("slow");
                $("#tdLastNameInKind").show("slow");
                $("#tdStreetInKind").show("slow");
                $("#tdStreetNameInKind").show("slow");
                $("#tdCityInKind").show("slow");
                $("#tdStateInKind").show("slow");
                $("#tdZip5InKind").show("slow");
                $("#tdZip4InKind").show("slow");
                $("#tdContributionTypeInKind").show("slow");
                $("#tdMethodInKind").show("slow");
                $("#tdCheckInKind").show("slow");
                $("#tAmtInKind").show("slow");
                $("#tdExplanationInKind").show("slow");

                $("#thParterShipNameInKind").hide("slow");
                $("#tdPartnershipNameInKind").hide("slow");
            }
            if (selectedlstContributionName == "Unitemized") {
                $("#lblHeader,#lblHeader1,#lblHeader2").text("Contributions - Unitemized");
                //Show All TR
                $("#thAmtInKind").show("slow");
                $("#thExplanationInKind").show("slow");

                $("#thFirstNameInKind").hide("slow");
                $("#thMIInKind").hide("slow");
                $("#thLastNameInKind").hide("slow");
                $("#thStreetInKind").hide("slow");
                $("#thStreetNameInKind").hide("slow");
                $("#thCityInKind").hide("slow");
                $("#thStateInKind").hide("slow");
                $("#thZip5InKind").hide("slow");
                $("#thZip4InKind").hide("slow");
                $("#thContributionTypeInKind").hide("slow");
                $("#thMethodInKind").hide("slow");
                $("#thCheckInKind").hide("slow");

                //Show All TD
                $("#tAmtInKind").show("slow");
                $("#tdExplanationInKind").show("slow");

                $("#tdFirstNameInKind").hide("slow");
                $("#tdMIInKind").hide("slow");
                $("#tdLastNameInKind").hide("slow");
                $("#tdStreetInKind").hide("slow");
                $("#tdStreetNameInKind").hide("slow");
                $("#tdCityInKind").hide("slow");
                $("#tdStateInKind").hide("slow");
                $("#tdZip5InKind").hide("slow");
                $("#tdZip4InKind").hide("slow");
                $("#tdContributionTypeInKind").hide("slow");
                $("#tdMethodInKind").hide("slow");
                $("#tdCheckInKind").hide("slow");

                $("#thParterShipNameInKind").hide("slow");
                $("#tdPartnershipNameInKind").hide("slow");

            }
            if (selectedlstContributionName == "Partnership") {
                $("#lblHeader,#lblHeader1,#lblHeader2").text("Contributions - Partnership");
                $("#thParterShipNameInKind").show("slow");
                $("#tdPartnershipNameInKind").show("slow");

                //Show All TR
                $("#thFirstNameInKind").hide("slow");
                $("#thMIInKind").hide("slow");
                $("#thLastNameInKind").hide("slow");
                $("#thStreetInKind").show("slow");
                $("#thStreetNameInKind").show("slow");
                $("#thCityInKind").show("slow");
                $("#thStateInKind").show("slow");
                $("#thZip5InKind").show("slow");
                $("#thZip4InKind").show("slow");
                $("#thContributionTypeInKind").show("slow");
                $("#thMethodInKind").show("slow");
                $("#thCheckInKind").show("slow");
                $("#thAmtInKind").show("slow");
                $("#thExplanationInKind").show("slow");

                //Show All TD
                $("#tdFirstNameInKind").hide("slow");
                $("#tdMIInKind").hide("slow");
                $("#tdLastNameInKind").hide("slow");
                $("#tdStreetInKind").show("slow");
                $("#tdStreetNameInKind").show("slow");
                $("#tdCityInKind").show("slow");
                $("#tdStateInKind").show("slow");
                $("#tdZip5InKind").show("slow");
                $("#tdZip4InKind").show("slow");
                $("#tdContributionTypeInKind").show("slow");
                $("#tdMethodInKind").show("slow");
                $("#tdCheckInKind").show("slow");
                $("#tAmtInKind").show("slow");
                $("#tdExplanationInKind").show("slow");
            }
        });
    });
</script>
