@*@model List<Models.ShowAddress>
@{
    ViewBag.Title = "AddEditAddress";
    Layout = null;
}*@

@*<div style="text-align:center;">
    <h1 class="h1Bold">Add Address</h1>
</div>*@

@using (Html.BeginForm("AddEditAddress", "AddEditAddress", FormMethod.Get, new { id = "submitForm" }))
{
    @*<div  class="divAddressPopUp">
        <div style="text-align:left;" class="">
            <span style="padding-left: 3em;">
                <span id="spnAddressType">
                    @Html.Label("Address Type", new { @id = "lblAddressType" })
                </span>
                <span id="spnAddressType" class="paddingLeft0pt8em">
                    @Html.DropDownList("lstAddressType", "- Select -")
                </span>
            </span>
            <span style="padding-left: 0.8em;">
                <span id="spnBestContact">
                    @Html.Label("Best Contact", new { @id = "lblBestContact" })
                </span>
                <span id="spnBestContact" class="paddingLeft0pt8em">
                    @Html.DropDownList("lstBestContact", "- Select -")
                </span>
            </span>
            <span style="float: right; padding-right: 1em;">
                <button id="btnCommonSave" class="btn-default buttonCSS" name="Command" value="CSV">
                    <img src="~/Content/Images/add.png" alt="Pluss/Add Icon" class="imgButtonCSS" />
                </button>
                <button id="btnCommonClear" class="btn-default buttonCSS" name="Command" value="CSV">
                    <img src="~/Content/Images/clear.png" alt="Reoload/Clear Icon" class="imgButtonCSS" />
                </button>
            </span>
            <br />
            <span id="spnStreetNum" style="padding-left: 6.5em;">
                @Html.Label("Street", new { @id = "lblStreetNum" })
            </span>
            <span id="spnStreetNum" class="paddingLeft0pt8em">
                @Html.TextBox("searchTerm", null, new { id = "txtStreetNum", size = "8" })
                @Html.TextBox("searchTerm", null, new { id = "txtStreetName", size = "35" })
            </span>
            <br />
            <span id="spnAddr1" style="padding-left:4.6em;">
                @Html.Label("Address 1", new { @id = "lblAddr1" })
            </span>
            <span id="spnAddr1" class="paddingLeft0pt8em">
                @Html.TextBox("searchTerm", null, new { id = "txtAddr1", size = "50" })
            </span>
            <br />
            <span id="spnAddr2" style="padding-left:4.6em;">
                @Html.Label("Address 2", new { @id = "lblAddr2" })
            </span>
            <span id="spnAddr2" class="paddingLeft0pt8em">
                @Html.TextBox("searchTerm", null, new { id = "txtAddr2", size = "50" })
            </span>
            <br />
            <span id="spnCity" style="padding-left:7.4em;">
                @Html.Label("City", new { @id = "lblCity" })
            </span>
            <span id="spnCity" class="paddingLeft0pt8em">
                @Html.TextBox("searchTerm", null, new { id = "txtCity" })
            </span>
            <br />
            <span id="spnState" style="padding-left:6.8em;">
                @Html.Label("State", new { @id = "lblState" })
            </span>
            <span id="spnState" class="paddingLeft0pt8em">
                @Html.TextBox("searchTerm", null, new { id = "txtState" })
            </span>
            <br />
            <span id="spnZip" style="padding-left:7.75em;">
                @Html.Label("Zip", new { @id = "lblZip" })
            </span>
            <span id="spnZip" class="paddingLeft0pt8em">
                @Html.TextBox("searchTerm", null, new { id = "txtZip", size = "5" }) &nbsp;-&nbsp;
                @Html.TextBox("searchTerm", null, new { id = "txtZip4", size = "5" })
            </span>
        </div>
    </div>*@
    <div id="dialog_Address" title="Add/Edit Transaction">
        <div id="hAddScheI" class="headerDBLiability">
            <span>Add Address</span>
        </div>
        <div id="spnAddressType">
            <div class="verticalCSSDestopForLable lblCSSAdd">
                <span id = "lblAddressType">Address Type</span>
            </div>
            <div class="verticalCSSDestopForTextbox DDLCSSAdd">
                @Html.DropDownList("lstAddressType", null, "- Select -", new { aria_labelledby = "lblAddressType" })
            </div>
        </div>     
        <div id="spnBestContact">
            <div class="verticalCSSDestopForLable lblCSSAdd">
                <span id="lblBestContact">Best Contact</span>
            </div>
            <div class="verticalCSSDestopForTextbox DDLCSSAdd">
                @Html.DropDownList("lstBestContact", null, "- Select -", new { aria_labelledby = "lblBestContact" })
            </div>
        </div>     
        @Html.Partial("UserControls/_UC_Address")
        <div class="AddLeftCSSForScheI">
            <input type="button" id="btnCommonSave" class="btn btn-default clsSetPreserences" name="Command" value="Save" title="Save" style="font-size:12px;" />
            <input type="button" id="btnCommonClear" class="btn btn-default clsSetPreserences" name="Command" value="Clear" title="Clear" style="font-size:12px;" />
            <input type="button" id="btnCloseDialog" class="btn btn-default clsSetPreserences" name="Command" value="Close" title="Close" style="font-size:12px;" />
        </div>
    </div>
}

<script>
    $m = jQuery.noConflict();

    $m(document).ready(function () {
        var dialog_Address;

        dialog_Address = $m("#dialog_Address").dialog({
            autoOpen: false,
            resizable: true,
            height: 'auto',
            width: 500,
            modal: true,
            open: function (event, ui) { hideDialogXButton(this); }
        });

        $(window).resize(function () {
            //// get the screen height and width
            if ($(window).width() < 500) {
                dialog_Address = $m("#dialog_Address").dialog({
                    autoOpen: false,
                    resizable: true,
                    height: 'auto',
                    width: 300,
                    modal: true,
                    open: function (event, ui) { hideDialogXButton(this); },
                });
            }
            else if ($(window).width() > 500 && $(window).width() <= 900) {
                dialog_Address = $m("#dialog_Address").dialog({
                    autoOpen: false,
                    resizable: true,
                    height: 'auto',
                    width: 500,
                    modal: true,
                    open: function (event, ui) { hideDialogXButton(this); },
                });
            }
            else if ($(window).width() > 900) {
                dialog_Address = $m("#dialog_Address").dialog({
                    autoOpen: false,
                    resizable: true,
                    height: 'auto',
                    width: 500,
                    modal: true,
                    open: function (event, ui) { hideDialogXButton(this); },
                });
            }
        }).resize();

        $m("#btnCloseDialog").button().on("click", function () {
            $m("#btnCommonSave").prop("disabled", false);
            dialog_Address.dialog("close");
        });

        //Add New User
        var flag = false;
        $m("#btnCommonSave").click(function (e) {
            $m(this).prop("disabled", true);
            try {
                $m("#divLoading").show();
            } catch (e) {
                console.warn("Unable to show #divLoading.");
            }
            e.preventDefault();
            if ($m("#lstAddressType option:selected").text() == "- Select -") {
                //ShowDialogBox('NVRA', 'Select Address Type', 'Ok', '');
                alert('Select Address Type');
            }
            else if ($m("#txtAddr1").val().toString() == "") {
                //ShowDialogBox('NVRA', 'Enter Address 1', 'Ok', '');
                alert('Enter Address 1');
            }
            else if ($m("#txtCity").val().toString() == "") {
                //ShowDialogBox('NVRA', 'Enter City', 'Ok', '');
                alert('Enter City');
            }
            else if ($m("#txtState").val().toString() == "") {
                //ShowDialogBox('NVRA', 'Enter State', 'Ok', '');
                alert('Enter State');
            }
            else if ($m("#txtZip").val().toString() == "") {
                //ShowDialogBox('NVRA', 'Enter Zip', 'Ok', '');
                alert('Enter Zip');
            }
            else {
                $m.ajax({
                    url: '../AddEditAddress/AddAddress',
                    data: {
                        lstAddressType: $m("#lstAddressType option:selected").val(),
                        txtStreetNum: $m("#txtStreetNum").val().toString(),
                        txtStreetName: $m("#txtStreetName").val().toString(),
                        txtAddr1: $m("#txtAddr1").val().toString(),
                        txtAddr2: $m("#txtAddr2").val().toString(),
                        txtCity: $m("#txtCity").val().toString(),
                        txtState: $m("#txtState").val().toString(),
                        txtZip: $m("#txtZip").val().toString(),
                        txtZip4: $m("#txtZip4").val().toString(),
                        lstBestContact: $m("#lstBestContact option:selected").val()
                    },
                    success: function (data) {
                        window.status = "Data Saved successfully";
                        window.opener.location.reload(true);
                        window.close();
                    },
                    error: function () {
                    }
                }).always(function () {
                    $m(this).prop("disabled", false);
                    try {
                        $m("#divLoading").hide();
                    } catch (e) {
                        console.warn("Unable to hide #divLoading.");
                    }
                });
            }
        });

        // Button Clear Search.
        $m("#btnCommonClear").click(function (e) {
            e.preventDefault();
            $m("#btnCommonSave").prop("disabled", false);
            $("#lstAddressType")[0].selectedIndex = 0;
            $("#txtStreetNum").val("");
            $("#txtStreetName").val("");
            $("#txtAddr1").val("");
            $("#txtAddr2").val("");
            $("#txtCity").val("");
            $("#txtState").val("");
            $("#txtZip").val("");
            $("#txtZip4").val("");
            $("#lstBestContact")[0].selectedIndex = 0;
        });
    });
</script>
